@model IEnumerable<WebApplication4.Person>

@{
    ViewBag.Title = "Index";
}

<style>
    .form-container {
        padding: 10px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .form-button {
        margin-top: 10px;
    }
</style>

<h2>Index</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">Create New Customer</button><br /><br />
<div ng-app="myApplication" ng-controller="safeCtrl" accesskey="">

    <p><b>Total Records: </b>{{rowCollection.length}}</p>

    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
            <tr>
                <th>
                    <input st-search="Name" class="form-control" placeholder="Name" type="text" />
                </th>
                <th>
                    <input st-search="Sex" class="form-control" placeholder="Gender" type="text" />
                </th>
                <th>
                    <input st-search="DOB" class="form-control" placeholder="Date Of Birth" type="text" />
                </th>
                <th>
                    <input st-search="Address" class="form-control" placeholder="Address" type="text" />
                </th>
                <th>
                    <input st-search="Money" class="form-control" placeholder="Income" type="text" />
                </th>
            </tr>

            <tr>
                <th st-sort="Name"> @Html.DisplayNameFor(model => model.Name)</th>
                <th st-sort="Sex"> @Html.DisplayNameFor(model => model.Sex)</th>
                <th st-sort="DOB"> @Html.DisplayNameFor(model => model.DOB)</th>
                <th st-sort="Address"> @Html.DisplayNameFor(model => model.Address)</th>
                <th st-sort="Money">@Html.DisplayNameFor(model => model.Money)</th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="row in displayedCollection">
                <td>{{row.Name}}</td>
                <td>{{row.Sex}}</td>
                <td>{{row.DOB}}</td>
                <td>{{row.Address}}</td>
                <td>${{row.Money}}</td>
                <td><a data-ng-click="getDataID2(row.PersonID)" href="#">Edit</a></td>
                <td><a data-ng-click="getDataID(row.PersonID)" href="#">Details</a></td>
                <td><a data-ng-click="deleteConfirmModal(row.PersonID)" href="#">Delete</a></td>
            </tr>
        </tbody>
    </table>

    <!-- Modals -->

    <!-- Customer Creation Modal -->
    <div id="modal1" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="form-group">
                    <div class="form-container">
                        <form id="myForm" name="myForm">
                            <p>Please fill in the following details.</p>
                            <input data-ng-model="name" class="form-control" placeholder="Name" type="text" required />
                            <input data-ng-model="gender" class="form-control" placeholder="Gender" type="text" required />
                            <input data-ng-model="dob" class="form-control" placeholder="Date Of Birth (MM/DD/YYYY)" type="text" required />
                            <input data-ng-model="address" class="form-control" placeholder="Address" type="text" required />
                            <input data-ng-model="income" class="form-control" placeholder="Income" type="text" required /><br />
                            <button ng-disabled="myForm.$invalid" class="btn btn-primary form-button" data-ng-click="saveData()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Customer Details Modal-->
    <div id="modal2" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="form-group">
                    <div class="form-container">
                        <form id="myForm2" name="myForm2">
                            <p>Here are the customer details.</p>
                            <p>
                                <b>Customer ID</b>: {{modalObject.PersonID}}
                            </p>
                            <p><b>Name</b>: {{modalObject.Name}}</p>
                            <p><b>Gender</b>: {{modalObject.Sex}}</p>
                            <p><b>DOB</b>: {{modalObject.DOB}}</p>
                            <p><b>Address</b>: {{modalObject.Address}}</p>
                            <p><b>Money</b>: ${{modalObject.Money}}</p>
                            <button data-toggle="modal" data-target="#modal2" class="btn btn-primary form-button">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Customer Edit Modal -->
    <div id="modal3" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="form-group">
                    <div class="form-container">
                        <form id="myForm3" name="myForm3">
                            <p>
                                Please fill in the following details.
                            </p>
                            <input data-ng-model="formObject.Name" class="form-control" placeholder="Name" type="text" />
                            <select class="form-control" data-ng-model="formObject.Sex">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <input data-ng-model="formObject.DOB" class="form-control" placeholder="Date Of Birth (MM/DD/YYYY)" type="text" />
                            <input data-ng-model="formObject.Address" class="form-control" placeholder="Address" type="text" />
                            <input data-ng-model="formObject.Money" class="form-control" placeholder="Income" type="number" /><br />
                            <button ng-disabled="myForm3.$invalid" class="btn btn-primary form-button" data-ng-click="editData()">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div id="deleteModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="form-group">
                    <div class="form-container">
                        <form id="deleteForm" name="deleteForm">
                            <p>Are you sure you want to delete this record?</p>
                            <p>
                                <b>Customer ID</b>: {{deleteRecord.PersonID}}
                            </p>
                            <p><b>Name</b>: {{deleteRecord.Name}}</p>
                            <p><b>Gender</b>: {{deleteRecord.Sex}}</p>
                            <p><b>DOB</b>: {{deleteRecord.DOB}}</p>
                            <p><b>Address</b>: {{deleteRecord.Address}}</p>
                            <p><b>Money</b>: ${{deleteRecord.Money}}</p>
                            <button data-toggle="modal" data-target="#deleteModal" class="btn btn-primary form-button" data-ng-click="deleteData(deleteRecord.PersonID)">Confirm</button>
                            <button data-toggle="modal" data-target="#deleteModal" class="btn btn-primary form-button">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p><b>Total Records: </b>{{rowCollection.length}}</p>
</div>

@Scripts.Render("~/bundles/application-controller")

